$white: #FFFFFF;
$white-hover: #C5C5C5;
$color-primary: #FF2C1F;
$body-bg: #000000;
$card-bg: #1b1a1a;
$input-background: #4A484F;
$round-font:Poppins, sans-serif;
$font-family: 'Montserrat', sans-serif;